<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=@user.username%></title>
  </head>
  <body>
    <h1><%=@user.username%>'s Wishlist and Attractions</h1>
    <h3><%= @user.wishlist.name %></h3>
    <% @user.wishlist.attractions.each do |attraction| %>
      <p><%= attraction.name %></p>
    <% end %>
    <br>
    <br></br>
    <h4>Attractions submitted by <%=@user.username%>:</h4>
    <% @user.attractions.each do |attraction| %>
      <p><%= attraction.name%></p>
    <% end %>
    <br></br>
    <h4>Cities submitted by <%=@user.username%>:</h4>
    <% @user.cities.each do |city| %>
      <p><%= city.name %></p>
    <% end %>
  </body>
</html>
