<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=@city.name%></title>
  </head>
  <body>
    <h2><%=@city.name%></h2>
    <p>Submitted by: <a href="/users/<%=@city.user.slug%>"><%=@city.user.username%></a></p>
    <br></br>
    <h3>Attractions:</h3>
    <% @city.attrations.each do |attraction| %>
      <a href="/attractions/<%=attraction.slug%>"><%=attraction.name%></a><br>
    <% end %>
  </body>
</html>
