<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=@city.name%></title>
  </head>
  <body>
    <% if current_user == @city.user %>
      <h2>City: </h2>
      <form action="/cities/<%=@city.slug%>" method="post">
        <input type="text" name="name" value="<%=@city.name%>">
        <input type="submit" value="edit name">
      </form>
    <% else %>
      <h2>City: <%=@city.name %></h2>
    <% end %>
    <p>Submitted by: <a href="/users/<%=@city.user.slug%>"><%=@city.user.username%></a></p>
    <h3>Attractions:</h3>
    <% @city.attractions.each do |attraction| %>
      <a href="/attractions/<%=attraction.slug%>"><%=attraction.name%></a><br>
    <% end %>
  </body>
</html>
