<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @wishlist.name %></title>
  </head>
  <body>
    <h2><%= @wishlist.name %></h2>
    <% @wishlist.attractions.each do |attraction| %>
      <h4><a href="/attractions/<%=attraction.slug%>"><%= attraction.name %></a></h4>
      <p>City: <%=attraction.city.name %><br>
      <%=attraction.description%></p>
    <% end %>
    <br>
    <a href="/wishlists/<%= @wishlist.id %>/edit">Update Wishlist</a>
  </body>
</html>
