<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @wishlist.name %></title>
  </head>
  <body>
    <h2><%= @wishlist.name %></h2>
    <% @wishlist.attractions.each do |attraction| %>
      <p><b><a href="/attractions/<%=attraction.slug%>"><%= attraction.name %></a></b>
        <br>
      City: <a href="/cities<%=attraction.city.slug%>"><%=attraction.city.name %></a>
        <br></br>
      <%=attraction.description%></p>
    <% end %>
    <br>
    <% if current_user == @wishlist.user %>
      <a href="/wishlists/<%= @wishlist.id %>/edit">Update Wishlist</a>
      <a href="/wishlists/<%= @wishlist.id %>/clear">Clear Wishlist</a>
    <% end %>
  </body>
</html>
