<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome <%= @user.username %></title>
  </head>
  <body>
    <h1>Welcome, <%= @user.username %>!</h1>
    <h3>Your Wishlist:</h3>
    <% @user.wishlist.attractions.each do |attraction| %>
      <p><%= attraction.name %></p>
    <% end %>
    <br>
    <a href="/wishlists/<%= @user.wishlist.id %>">View Wishlist</a>
    <a href="/wishlists/<%= @user.wishlist.id %>/edit">Update Wishlist</a>
    <a href="/wishlists/<%= @user.wishlist.id %>/clear">Clear Wishlist</a>
    <br></br>
    <h4>Attractions submitted by you:</h4>
    <% @user.attractions.each do |attraction| %>
      <p><a href="/attractions/<%=attraction.slug%>"><%= attraction.name%></a></p>
    <% end %>
    <h4>Cities submitted by you:</h4>
    <% @user.cities.each do |city| %>
      <p><a href="/cities/<%=city.slug%>"><%= city.name %></a></p>
    <% end %>
  </body>
</html>
